.list-item-container { 
    padding: 20px;
    transition: .3s all;
    cursor: pointer;

    div {
        pointer-events: none;
    }

    &:hover {
        background-color: #f9f9f9;
    }
}

.label {
    color: #333333;
}

.active {
    border-left: 1px solid;
    padding-left: 40px;
    background-color: #f9f9f9;
}
